
* {
    box-sizing: border-box;
  }
  body {
    font-family: Verdana, Arial, sans-serif;
    margin: 100px;
  }
  
  header {
    background-color: white;
    background-repeat: no-repeat;
    height: 100px;
  }
  
  h1 {
    text-align: center;
    color: #000000;
    font-size: 300%;
    text-shadow: 2px 2px 2px #000000;
  }
  h2 {
    color: #2c2c54;
  }
  
  h3 {text-align:center;
      color:#2c2c54;
      }
  
  /* Name Grid Areas */
  header {
    grid-area: h;
  }
  nav {
    grid-area: n;
  }
  main {
    grid-area: m;
  }
  aside {
    grid-area: a;
  }
  footer {
    grid-area: f;
  }
  #wrapper {
    background-color: white;
    color: #0e0363;
    display: grid;
    grid-template:
      "h "
      "n "
      "m "
      "a "
      "f ";
  }
  
  
  nav {
    position:fixed;
    font-size: 100%;
  }
  
  nav ul {
    margin-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  nav ul {
    list-style-type: none;
  }
  nav li {
    width: 10%;
    min-width: 160px;
    font-size: 110%;
    text-align: center;
    background-color: #003c58;
    margin: 10px;
    padding: 10px;
  }
  nav a {
    text-decoration: none;
  }
  nav a:link {
    color: #f7f1e3;
  }
  nav a:visited {
    color: #b9edf0;
  }
  nav a:hover {
    color: #375657;
  }
  
  
  main {
    padding: 0 10px 10px;
    margin-left:100px;
    width: 750px;
  }
  
  aside {
    display: none;
    padding: 0px;
  }
  
  footer {
    text-align: center;
    font-style: italic;
    padding: 20px;
  }
  
  @media (min-width: 560px) {
    #wrapper {
      grid-template:
        " h   h "
        " n   n"
        " m   m "
        " a   a "
        " f   f "
        / 60% 40%;
    }
    aside {
      display: block;
    }
  }
  @media (min-width: 1024px) {
    #wrapper {
      grid-template:
        " h   h   h"
        " n   m   a"
        " f   f   f"
        / 150px 1fr 25%;
    } 
    
    nav ul {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
  }
  }
  
table {
  border: 4px solid #000000;
  border-collapse:collapse;
  width: 90%;
  margin-left: 2px;
  margin-right: auto;
  justify-content: center;
  text-align: center;} 
  
  th {
  
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 4px solid #111111;
    border-top: 2px solid #111111;
    
    padding: 30px 10px 10px 10px;
    color: #efefef;
    background-color:rgb(11, 130, 160)
    } */
  
    td {
      padding: 10px 10px 10px 10px
      }  */

  
  .showmap{
    height:20px;
    width:100px;
}
  
thead {
  
  letter-spacing: 0.1em;
  font-size: 100%;
  border-bottom: 4px solid #111111;
  border-top: 2px solid #111111;
  text-align: center;
  padding: 30px 10px 10px 10px;
  color: #efefef;
  background-color:rgb(11, 130, 160)
  }

  tbody {
    letter-spacing: 0.1em;
    font-size: 100%;
    
    padding: 30px 10px 10px 10px;
    color: #0d0138;
    background-color:rgb(246, 246, 247)
    }
  
    input[class="loginInput"] {
      width: 80%;
      box-sizing: border-box;
      
      
      
                          
  }

  #header2 {

    font-size:120%;
  }